body {
  background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

}
#comment-box, #post {
  border: none;
  border-radius: 5px;
}
#post:hover{
  background-color: deeppink;
}

.white {
  background-color: rgb(203, 203, 255);
  color: aquamarine;
  padding: 20px;
}

.blue {
  background-color: blue;
  color: rgb(255, 72, 0);
  padding: 40px;
}